Repository aandresalvarez/flujo: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-patterns, forbid-duplicate-suffix, test-isolation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: mypy (core subset)
        args: ["--follow-imports=skip"]
        files: |
          (?x)^(
            flujo/domain/dsl/step\.py|
            flujo/application/core/type_validator\.py|
            flujo/infra/backends\.py|
            flujo/application/core/default_components\.py|
            flujo/state/backends/sqlite\.py|
            flujo/state/backends/base\.py|
            flujo/application/core/usage_messages\.py|
            flujo/domain/validation\.py
          )$
        additional_dependencies:
          - pydantic>=2.11.7
          - pydantic-settings>=2.0.0
          - types-psutil
  - repo: local
    hooks:
      - id: forbidden-patterns
        name: forbidden patterns
        entry: python3 scripts/hooks/check_forbidden_patterns.py
        language: system
        types: [python]
      - id: forbid-duplicate-suffix
        name: forbid duplicate suffix ' 2.py'
        entry: python3 scripts/hooks/check_duplicate_suffix.py
        language: system
        types: [python]
      - id: test-isolation
        name: test isolation patterns
        entry: python3 scripts/hooks/check_test_isolation.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

Bump version to 0.6.3
  CHANGELOG.md
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(context): enforce nested merge strategies
  flujo/application/core/policies/parallel_policy.py
  flujo/builtins/architect.py
  flujo/utils/context.py
  tests/integration/test_parallel_step.py
  tests/unit/test_context_merge_conflicts.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

del
  collection_output.txt
  pr_555_feedback.md
  pr_559_feedback.md
  readme_snippet.txt
Due: none

Fix(parallel): honor overwrite merge semantics
  flujo/application/core/policies/parallel_policy.py
  flujo/utils/context.py
  tests/unit/test_context_merge_conflicts.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

fix: Postgres backend ISO timestamps and pgvector dimensions (#587)
  flujo/infra/memory/postgres_vector.py
  flujo/state/backends/postgres.py
  flujo/state/migrations/003_vector_store.sql
  flujo/state/migrations/004_fix_vector_dimensions.sql
Due: forbidden-patterns, forbid-duplicate-suffix

fix: resolve test failures in CLI help snapshots and tree search crash recovery
  tests/cli/test_help_snapshots.py
  tests/integration/test_tree_search_crash_recovery.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

fix: address code review findings
  flujo/infra/memory/postgres_vector.py
  flujo/state/backends/postgres.py
  flujo/state/migrations/005_fix_vector_dimensions.sql
  tests/integration/test_tree_search_crash_recovery.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

fix: postgres type cast and FLUJO_STATE_URI auto-wiring
  flujo/application/runner.py
  flujo/state/backends/postgres.py
Due: forbidden-patterns, forbid-duplicate-suffix

fix: skip FLUJO_STATE_URI auto-wiring in test mode
  flujo/application/core/runtime/runtime_builder.py
  flujo/application/runner.py
  flujo/embeddings/__init__.py
  flujo/infra/config_manager.py
  flujo/infra/memory/postgres_vector.py
  flujo/infra/settings.py
  flujo/state/backends/postgres.py
  flujo/utils/config.py
  tests/integration/test_tree_search_crash_recovery.py
  tests/unit/application/test_runner_shutdown.py
  tests/unit/test_default_backend.py
  tests/unit/test_vector_store_postgres.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

chore: bump version to 0.6.4
  CHANGELOG.md
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

fix: security vulnerabilities - upgrade dependencies
  pyproject.toml
Due: none

fix: resolve remaining urllib3 CVEs
  pyproject.toml
Due: none

fix: correct duplicate 0.6.3 changelog heading
  CHANGELOG.md
Due: none

style: fix pyproject.toml indentation and comment spacing
  pyproject.toml
Due: none

Fix PipelineAbortSignal masking UsageLimitExceededError in post_run hooks
  flujo/application/run_session.py
  tests/integration/test_issue_590_regression.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Mark Issue #590 regression tests as slow
  tests/integration/test_issue_590_regression.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Fix: Prevent PipelineAbortSignal in post_run from skipping persistence
  flujo/application/run_session.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix linter warning: rename unused parameter in FailingAgent
  tests/integration/test_issue_590_regression.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Review state manager UTC logic
  flujo.lock
  flujo/application/core/state/state_manager.py
  flujo/application/run_session.py
  flujo/builtins/support.py
  flujo/domain/dsl/pipeline.py
  flujo/embeddings/models.py
  flujo/infra/sandbox/docker_sandbox.py
  flujo/processors/aros.py
  tests/integration/test_pipeline_hooks.py
  tests/unit/test_execution_manager.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Fix(state): convert legacy naive created_at from local time
  flujo/application/core/state/state_manager.py
  tests/unit/test_execution_manager.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Release(version): bump to 0.6.5 and fix release changelog artifact
  .github/workflows/release.yml
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(deps): remove vulnerable pydantic-ai meta dependency
  pyproject.toml
Due: none

Release(version): bump to 0.6.6
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(ci): update sigstore pin and bump to 0.6.7
  .github/workflows/ci.yml
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(ci): align sigstore v4 signing and bump to 0.6.8
  .github/workflows/ci.yml
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(ci): grant release write permission and bump to 0.6.9
  .github/workflows/ci.yml
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

Document granular resume modes
  docs/advanced/configuration.md
  docs/guides/granular_execution.md
  flujo/application/core/policies/granular_policy.py
  flujo/domain/dsl/granular.py
  flujo/domain/dsl/step.py
  flujo/infra/config_manager.py
  flujo/infra/settings.py
  tests/unit/test_config_manager.py
  tests/unit/test_granular_step_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Ensure make all and tests pass
  docs/guides/granular_execution.md
  flujo/application/core/policies/granular_policy.py
  flujo/domain/dsl/granular.py
  tests/unit/test_granular_step_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Review granular policy fingerprint
  flujo/application/core/policies/granular_policy.py
  tests/unit/test_granular_step_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Review granular policy change
  flujo/application/core/policies/granular_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(granular): use safe compat fingerprint lookup
  flujo/application/core/policies/granular_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix

Release(version): bump to 0.6.10
  .github/workflows/release.yml
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(ci): make SBOM audit non-blocking on tags
  .github/workflows/ci.yml
Due: none

Chore(CI): minimize PR checks for version-only changes
  .github/workflows/pr-checks.yml
Due: none

Fix(ci): tighten version-only PR detection
  .github/workflows/pr-checks.yml
Due: none

Fix NUL-safe Postgres persistence
  flujo/application/core/state/state_manager.py
  flujo/state/backends/postgres.py
  tests/integration/test_postgres_backend.py
  tests/unit/test_postgres_step_atomicity.py
  tests/unit/test_state_manager_step_persistence.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Add NUL sanitization to Postgres
  flujo/state/backends/postgres.py
Due: forbidden-patterns, forbid-duplicate-suffix

Validate run_id before postgres save
  flujo/state/backends/postgres.py
  tests/unit/test_postgres_step_atomicity.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Release(version): bump to 0.6.11
  flujo/__init__.py
  pyproject.toml
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(ci): use available sigstore version for release signing
  .github/workflows/ci.yml
Due: none
