Repository aandresalvarez/flujo: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-patterns, forbid-duplicate-suffix, test-isolation

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: mypy (core subset)
        args: ["--follow-imports=skip"]
        files: |
          (?x)^(
            flujo/domain/dsl/step\.py|
            flujo/application/core/type_validator\.py|
            flujo/infra/backends\.py|
            flujo/application/core/default_components\.py|
            flujo/state/backends/sqlite\.py|
            flujo/state/backends/base\.py|
            flujo/application/core/usage_messages\.py|
            flujo/domain/validation\.py
          )$
        additional_dependencies:
          - pydantic>=2.11.7
          - pydantic-settings>=2.0.0
          - types-psutil
  - repo: local
    hooks:
      - id: forbidden-patterns
        name: forbidden patterns
        entry: python3 scripts/hooks/check_forbidden_patterns.py
        language: system
        types: [python]
      - id: forbid-duplicate-suffix
        name: forbid duplicate suffix ' 2.py'
        entry: python3 scripts/hooks/check_duplicate_suffix.py
        language: system
        types: [python]
      - id: test-isolation
        name: test isolation patterns
        entry: python3 scripts/hooks/check_test_isolation.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

Test(adapter): add raw output contract and fast markers
  tests/adapters/test_adapter_contracts.py
  tests/unit/aros/test_structured_finalize_normalization.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

start
  Kanban/4- astar/4- astar.md
  Kanban/ci-recommendations.md
Due: none

Feat(astar): chart the tree
  flujo/application/conversation/history_manager.py
  flujo/application/core/policies/tree_search_policy.py
  flujo/application/core/policy/policy_handlers.py
  flujo/application/core/step_policies.py
  flujo/domain/__init__.py
  flujo/domain/blueprint/loader_models.py
  flujo/domain/blueprint/loader_steps.py
  flujo/domain/blueprint/loader_steps_misc.py
  flujo/domain/dsl/__init__.py
  flujo/domain/dsl/tree_search.py
  flujo/domain/models.py
  flujo/models/__init__.py
  tests/architecture/test_policy_frame_signatures.py
  tests/unit/test_blueprint_loader.py
  tests/unit/test_tree_search_models.py
  tests/unit/test_tree_search_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Feat(astar): complete tree search deliverables
  FLUJO_TEAM_GUIDE.md
  docs/adr/ADR-005-tree-search-durable-frontier.md
  docs/cookbook/reasoning_with_astar.md
  docs/user_guide/pipeline_dsl.md
  examples/README.md
  examples/biomedical_astar_agent_demo.py
  examples/consensus_diff_autofix_demo.py
  flujo/application/core/execution/execution_manager.py
  flujo/application/core/policies/parallel_policy.py
  flujo/application/core/policies/tree_search_policy.py
  flujo/application/core/policy/policy_handlers.py
  flujo/application/runner_methods.py
  flujo/domain/__init__.py
  flujo/domain/blueprint/loader_steps_branching.py
  flujo/domain/consensus.py
  flujo/domain/dsl/parallel.py
  flujo/domain/dsl/step.py
  flujo/domain/evaluation.py
  flujo/infra/lockfile.py
  flujo/models/__init__.py
  flujo/processors/__init__.py
  flujo/processors/diff.py
  mkdocs.yml
  tests/integration/test_tree_search_crash_recovery.py
  tests/integration/test_tree_search_game_of_24.py
  tests/unit/test_blueprint_loader.py
  tests/unit/test_diff_processor.py
  tests/unit/test_lockfile.py
  tests/unit/test_multi_signal_evaluator.py
  tests/unit/test_parallel_reducers.py
  tests/unit/test_tree_search_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Feat(astar): add tree search tuning and distillation
  docs/cookbook/reasoning_with_astar.md
  flujo/application/__init__.py
  flujo/application/tree_search_improvement.py
  tests/unit/test_tree_search_improvement.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Chore(astar): mark roadmap items complete
  Kanban/4- astar/4- astar.md
Due: none

Docs(evals): note critic-judge loop in MultiSignalEvaluator
  docs/advanced/intelligent_evals.md
Due: none

Fix(astar): default distillation model
  flujo/application/tree_search_improvement.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(dsl): avoid new Any in validator wrapper
  flujo/domain/dsl/step.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(dsl): type wrapper for model validator
  flujo/domain/dsl/step.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(dsl): avoid cast in validator helper
  flujo/domain/dsl/step.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(tree-search): honor distillation agent
  flujo/application/tree_search_improvement.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(validation): add scores and diff for tree search
  flujo/application/core/policies/tree_search_policy.py
  flujo/application/core/runtime/default_components.py
  flujo/domain/evaluation.py
  flujo/domain/validation.py
  tests/unit/test_tree_search_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Chore(tree-search): surface heuristic summary in metadata
  flujo/application/core/policies/tree_search_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(typecheck): resolve validation typing
  flujo/application/core/policies/tree_search_policy.py
  flujo/domain/evaluation.py
  flujo/domain/validation.py
Due: forbidden-patterns, forbid-duplicate-suffix

Chore(ci): optimize workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/github-release.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  Makefile
Due: none

Fix(tree-search): address review feedback
  Kanban/4- astar/b method
  examples/consensus_diff_autofix_demo.py
  flujo/application/core/execution/execution_manager.py
  flujo/application/core/policies/tree_search_policy.py
  flujo/application/tree_search_improvement.py
  flujo/domain/blueprint/loader_models.py
  flujo/domain/blueprint/loader_steps.py
  flujo/domain/blueprint/loader_steps_misc.py
  flujo/domain/consensus.py
  flujo/domain/dsl/pipeline.py
  flujo/domain/dsl/step.py
  flujo/domain/evaluation.py
  flujo/domain/models.py
  flujo/infra/lockfile.py
  flujo/infra/settings.py
  flujo/processors/diff.py
  tests/integration/test_tree_search_crash_recovery.py
  tests/unit/test_execution_manager.py
  tests/unit/test_tree_search_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Fix(typecheck): align invariants typing
  flujo/application/core/execution/execution_manager.py
  flujo/application/core/policies/tree_search_policy.py
  flujo/domain/blueprint/loader_steps.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(blueprint): avoid invariant casts
  flujo/domain/blueprint/loader_steps.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(blueprint): type invariant rules
  flujo/domain/blueprint/loader_steps_misc.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(examples): handle JSON Patch add lists
  examples/consensus_diff_autofix_demo.py
  flujo/domain/consensus.py
  tests/integration/test_tree_search_crash_recovery.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Fix(quality): address review comments
  flujo/application/core/policies/tree_search_helpers.py
  flujo/application/core/policies/tree_search_policy.py
  flujo/domain/blueprint/loader_steps_misc.py
  flujo/domain/consensus.py
  flujo/domain/evaluation.py
  flujo/infra/lockfile.py
  flujo/processors/diff.py
  tests/integration/test_tree_search_crash_recovery.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Fix(tree-search): prevent circular reference in TreeSearchStep state management
  examples/README_high_assurance_reasoning.md
  examples/high_assurance_med13_extractor.py
  examples/high_assurance_realistic/DSL_SYNTAX.md
  examples/high_assurance_realistic/README.md
  examples/high_assurance_realistic/__init__.py
  examples/high_assurance_realistic/agents.py
  examples/high_assurance_realistic/evaluate_results.py
  examples/high_assurance_realistic/flujo.toml
  examples/high_assurance_realistic/invariants.py
  examples/high_assurance_realistic/main.py
  examples/high_assurance_realistic/models.py
  examples/high_assurance_realistic/results/.gitkeep
  examples/high_assurance_realistic/sample_data.py
  flujo/cli/validate_command.py
  flujo/domain/dsl/pipeline_step_validations.py
  flujo/domain/models.py
  flujo/utils/context.py
Due: forbidden-patterns, forbid-duplicate-suffix

med13 example
  examples/high_assurance_realistic/agents.py
  examples/high_assurance_realistic/debug/20251226_015855_run.json
  examples/high_assurance_realistic/flujo.lock
  examples/high_assurance_realistic/flujo.toml
  examples/high_assurance_realistic/main.py
  examples/high_assurance_realistic/results/latest.json
  flujo/application/core/policies/parallel_policy.py
  flujo/application/core/policies/tree_search_helpers.py
  flujo/application/core/policies/tree_search_policy.py
  flujo/cli/helpers_run.py
  flujo/cli/run_command.py
  flujo/domain/models.py
  flujo/utils/expressions.py
Due: forbidden-patterns, forbid-duplicate-suffix

med13 example
  examples/high_assurance_realistic/flujo.toml
Due: none

fix(tree-search): treat PipelineAbortSignal as pause in tree search
  Kanban/5-the factory.md
  flujo/application/core/policies/tree_search_policy.py
Due: forbidden-patterns, forbid-duplicate-suffix

refactor(example): use config_manager for API key verification
  examples/high_assurance_realistic/agents.py
Due: forbidden-patterns, forbid-duplicate-suffix

tidy(example): remove duplicated section header in agents.py
  examples/high_assurance_realistic/agents.py
Due: forbidden-patterns, forbid-duplicate-suffix

fix(example): resolve default results path relative to script in evaluation script
  examples/high_assurance_realistic/evaluate_results.py
Due: forbidden-patterns, forbid-duplicate-suffix

docs(kanban): update phase 3 roadmap and mark phase 4 as done
  Kanban/2-improove_types.md
  Kanban/3-reasoner-agent.md
  Kanban/4- astar/4- astar-done.md
  Kanban/4- astar/b method-done.md
  Kanban/5-the factory.md
  examples/high_assurance_realistic/flujo_ops.db-shm
  examples/high_assurance_realistic/flujo_ops.db-wal
  examples/high_assurance_realistic/results/report_20251225_203432.txt
Due: none

chore: ignore sqlite temp files
  .gitignore
  examples/high_assurance_realistic/flujo_ops.db-shm
  examples/high_assurance_realistic/flujo_ops.db-wal
Due: none

Chore(CI): streamline workflows and releases
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/github-release.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Kanban/ci-recommendations.md
  Makefile
Due: none

Fix(CI): avoid uv frozen without lockfile
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  Kanban/ci-recommendations.md
Due: none

Fix(CI): include optional extras for mypy
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  Kanban/ci-recommendations.md
Due: none

Fix(memory): lazy-load asyncpg in PostgresVectorStore
  flujo/infra/memory/postgres_vector.py
Due: forbidden-patterns, forbid-duplicate-suffix

Fix(CI): cap xdist workers on Python 3.14
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Due: none

Fix(CI): wire changelog release notes and opentelemetry extras
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

Fix(tests): stabilize postgres config test and update factory PRD
  Kanban/5-the factory.md
  tests/unit/test_cli_config_backend.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Feat(lockfile): implement flujo lock CLI command with generate, verify, compare, and show subcommands
  flujo/cli/app_registration.py
  flujo/cli/lock_command.py
  flujo/infra/config_manager.py
  flujo/infra/lockfile.py
  flujo/type_definitions/__init__.py
  flujo/type_definitions/common.py
  tests/architecture/test_type_safety_compliance.py
  tests/integration/test_lockfile_generation.py
  tests/unit/test_lock_cli.py
  tests/unit/test_lock_command.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation

Fix(lockfile): address PR feedback - pipeline metadata comparison, ignore_fields usage, recursive globs
  flujo/cli/lock_command.py
  flujo/infra/lockfile.py
  tests/integration/test_lockfile_generation.py
  tests/unit/test_lock_command.py
Due: forbidden-patterns, forbid-duplicate-suffix, test-isolation
